{% extends "layout.html" %}
<!--
{% block style %}
 .description {
      margin: 0px;
      display: none;
      position: absolute;
      left: 0px;
      border: 1px solid #000;
      font-weight: none;
      width: auto;
      height: auto;
    }

    .dygraph-legend {
      background-color: rgba(200, 200, 255, 0.75);
      padding: 4px;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 4px 4px 4px #888;
      width: 150px;
    }

    #graph {
      position: absolute;
      left: 200px;
      right: 10px;
      top: 40px;
      bottom: 10px;
    }


    /* Left column */
    .column.left {
      width: 35%;
    }

    /* Middle column */
    .column.right {
      width: 65%;
    }

    @media screen and (max-width: 600px) {

      .column.side,
      .column.middle {
        width: 100%;
      }
    }

    label {
    display: inline-block;
    width: 5em;
  }
{% endblock %}
--><!--Style-->

{% block title %}Perflab result{% endblock %}
<!--
{% block head %} <script>$( function() {
      $( document ).tooltip();
    } );</script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        $( "#resizable" ).resizable();
      } );</script>
 {% endblock %} --><!--Head-->
<!--
{% block content %}

{% endblock %}
--><!--Content-->